<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="gradient">
    <main id="app" class="container flex">
        <!-- sidebar -->
        <section class="contacts-box height bg-white">
            <!-- card header -->
            <div class="flex justify-space-between headed">
                <div class="flex align-center">
                    <img src="./img/avatar_io.jpg" alt="userPic">
                    <p class="">Sofia</p>
                </div>
                <div class="icon-box flex gap margin-right">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!-- notice -->
            <div class="flex notice">
                <div>
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="">Attiva notifiche desktop</a>
                </div>
            </div>
            <!-- search-bar -->
            <div>
                <label for="name" class="relative">
                    <i class="fa-solid fa-magnifying-glass absolute"></i>
                    <input class="input-size" type="search" placeholder="
                    cerca o inizia una nuova chat">
                </label>
            </div>
            <!-- users -->
            <section class="scroll">
                <div v-for="(user, index) in contacts" class="flex justify-space-between border-btm margin-top pad" @click="showMessages(index)">
                    <div class="flex">
                        <div>
                            <img :src="user.avatar" :alt="user.name">
                        </div>
                        <div>
                            <div>
                                <p>{{user.name}}</p>
                                <p>Ultimo messaggio inviato</p>
                            </div>    
                        </div>
                    </div>
                    <!-- time -->
                    <div>
                        <p>12.00</p>
                    </div>
                </div>
            </section>
        </section>
        <!-- text box -->
        <section class="chat-box">
            <div class="flex justify-space-between headed">
                <div class="flex align-center">
                    <img src="./img/avatar_2.jpg" alt="userPic">
                    <div>
                        <p>Michele</p>
                        <p>Ultimo accesso oggi alle 12:00</p>
                    </div>
                    
                </div>
                <div class="icon-box flex  gap margin-right">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!-- chat -->
            <div class="chat-div">
                <div v-if="selectedUser">
                    <div class="height-second-el ">
                        <div v-for="message in selectedUser.messages" :class="{'message-sent': message.status === 'sent', 'message-received': message.status === 'received'}" class="message">
                            <p>{{message.message}}</p>
                            <p>{{formatTime(message.date)}}</p>
                        </div>
                    </div>
                    <div class="flex justify-space-around bg-chat">
                        <div class="icon-box">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div>
                            <input type="text" placeholder="scrivi un messaggio" class="input-message"> 
                        </div>
                        <div class="icon-box">
                            <i class="fa-solid fa-microphone"></i>
                        </div >
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>
</html>